@model Dictionary<string, DateTime>
@{
    ViewBag.Title = "ShowBasket";
}

<h2>Items in Basket</h2>

<table class="table-condensed">
    <thead class="bg-info">
        <tr>
            <td>Item Name</td>
            <td>Due Date</td>
        </tr>
    </thead>

    @foreach (KeyValuePair<string, DateTime> item in Model)
    {
    <tr>
        <td>@item.Key</td>
        <td>@item.Value</td>
    </tr>
    }

</table>

<h4>Total Items: @Model.Count</h4>

<div class="bg-success">
    @Html.ActionLink("Confirm", "Checkout");
</div>
