
@{
    ViewBag.Title = "Identity User Role Management";
}

<div style="text-align:center; font-weight:bold; font-size: 72px;">
    <br />
    There was an Error<br />
    <span style="color:red">Creating Admin Failed</span>
</div>