
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin");
@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin");
@Html.ActionLink("CreateAdmin", "Index", "InitAdmin");

